/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


header {
    background-color: #577488;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header h2 {
    margin: 0;
    font-size: 24px;
}


.imc, .fcm, .categoria, .horario {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h4 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}


form, .fcm, .categoria, .horario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="number"], input[type="text"] {
    margin: 5px 0 10px 0;
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #437293;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5683a3;
}

#resultado, #resultFCM, #resultCat, #horario {
    margin-top: 10px;
    padding: 10px;
    background-color: #eaf3fc;
    border-radius: 5px;
    min-height: 25px;
    text-align: center;
    color: #333;
    font-weight: bold;
}
